.about-us {
    padding: 20px;
    background-color: black;
  }
  
  .section {
    margin-bottom: 40px;
    text-align: center;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

  }

  .section h1{
    color: white;
  }
  
  .image-sec {
    width: 100%;
    max-width: 600px;
    height: 300px; /* Fixed height for uniformity */
    object-fit: cover; /* Ensure the image covers the area without distortion */
    margin-top: 20px;
    transition: transform 0.3s ease-in-out;
  }

  .image-sec:hover {
    transform: scale(1.1);
  }
  
  .background-image {
    background-image: url('../assets/Section\ 1\ background.jpg'); /* Path to your background image */
    background-size: cover; /* Make the image cover the entire paragraph */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent tiling */
    color: white; /* Set text color to contrast with the background */
    padding: 20px; /* Add some padding for better spacing */
    border-radius: 8px; /* Optional: rounded corners */
    margin-bottom: 20px; /* Space below the paragraph */
  }
  
  @media (min-width: 768px) {
    .content {
      flex-direction: row;
      justify-content: space-between;
      text-align: left;
      align-items: center; /* Ensure vertical alignment of text and image */
    }
  
    .image-sec {
      width: 45%;
      height: 300px; /* Consistent height */
      margin-left: 20px; /* Space between text and image */
      object-fit: cover; /* Maintain aspect ratio */
    }
  
    p {
      width: 50%;
      margin-right: 20px; /* Space between text and image */
      line-height: 1.6; /* Improve readability */
    }
  }
  